.right-card .card-body {
    position: absolute;
    
  }
  
  .right-card .col {
    /* margin-bottom: 15px; */
    margin-top: -46%;
  }
  
  .right-card .input-group-1,
  .right-card .input-group-3,
  .right-card .input-group-5,
  .right-card .input-group-7 {
    width: 50%;
    float: left;
    font-weight: lighter;
    border-color: rgb(249, 247, 247);
    
  }
  
  .right-card .input-group-2,
  .right-card .input-group-4,
  .right-card .input-group-6,
  .right-card .input-group-8 {
    width: 50%;
    float: right;
    font-weight: lighter;
    

  }
  
  .right-card .input-group-1 label ,
  .right-card .input-group-2 label,
  .right-card .input-group-3 label,
  .right-card .input-group-4 label,
  .right-card .input-group-5 label ,
  .right-card .input-group-6 label ,
  .right-card .input-group-7 label ,
  .right-card .input-group-8 label    {
    display: block;
    /* margin-top: -10%; */
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 16px;
    

  }
  .right-card .input-group-1 ,
  .right-card .input-group-2 ,
  .right-card .input-group-3 ,
  .right-card .input-group-4 ,
  .right-card .input-group-5 ,
  .right-card .input-group-6 ,
  .right-card .input-group-7 ,
  .right-card .input-group-8  {
    margin-top: 2%;
    border-color: rgb(249, 247, 247);
  }

  
  .right-card .input-group-1 input,
  .right-card .input-group-2 input,
  .right-card .input-group-3 input,
  .right-card .input-group-4 input,
  .right-card .input-group-5 input,
  .right-card .input-group-6 input,
  .right-card .input-group-7 input,
  .right-card .input-group-8 input  {
    width: 80%;
    padding: 10px;
    /* color: grey; */
    border-top-color: rgb(255, 253, 253); 
    border-left-color: rgb(255, 254, 254); 
    border-right-color: rgb(189, 188, 188); 
    border-bottom-color: rgb(189, 188, 188); 
    background-color: transparent;
    border-radius: 5px;

    
  }
  
  .right-card .profile-update-btn {
    margin-top: 78%;
    height: 10%;
  }
  
  .right-card .profile-update-btn button{
    background-color: #ffc107;
    margin-top: 5%;
    color: #fff;
    padding: 8px;
    height: 43px;
    width: 100px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
 

  

.profile-name {
    font-size: 1.2rem;
  }

  .profile-list {
   margin-top: -10%;
   margin-left: -1%;
   margin-bottom: 1%;
   padding-right: 20px;
   
  }
  
  .profile-list ul {
    border-top: 5%;
    padding-right: 20px;
    display: inline-block;
    margin-right: 10px; 
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    color: grey;
  }
  